<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <p>投稿ユーザー画像：<%= image_tag('no_image.jpg') %></p>
  <% end %>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <%= attachment_image_tag post, :image %>
  <p>説明：<%= post.body %></p>
  <p><%= link_to "#{post.comments.count}コメント", post_path(post.id) %></p>
</div>
<% end %>