<div>
  
  <%= attachment_image_tag @post, :image %>
  <p>説明：<%= @post.body %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
  <% if @post.liked_by?(current_user) %>
    <p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>
<div>
  <p>コメント数:<%= @post.comments.count %></p>
  <%= @post.comments.each do |comment| %>
    <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <div>
        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with(model:[@post,@comment],local:true) do |f| %>
    <%= f.text_area :comment,row:'5', placeholder: "コメントをここに" %>
    <%= f.submit "送信" %>
  <% end %>
</div>
